@import 'global';
/*@import url("fonts.css");*/
/*font-family: 'DINPro-Medium';font-family: 'DINPro-Bold';*/


.admin-main-wrap{height:calc(100% - 103px); width: calc(100% - 55px); float:right; padding:10px; padding-bottom:35px; overflow:auto;
  h2 {
    color:$hcmtextred;
    padding-bottom: 8px;
    border-bottom: 2px solid $hcmbgdarkgrey;
    margin: 5px 10px 8px 0px;
    font-size: 20px;
    text-transform: capitalize;
  }
}
.scrollarea .scrollbar-container.vertical .scrollbar{width: 4px !important;margin-left: 6px !important;background: #4975F1 !important;}
.scrollarea .scrollbar-container.active, .scrollarea .scrollbar-container:hover{background: transparent !important;}
.admin-main-wrap .map-view-block{height: 100%;width: 100%; padding-bottom: 30px;
  iframe{height:100% }
}
.admin-main-wrap .admin-padding-wrap{ margin-top: 40px; height:calc(100% - 40px); overflow:auto; padding-left: 10px;}
.admin-main-wrap .no-space{margin-top: 0px; height: 100%;}
.admin-main-wrap .bottom-actions-block{background: #273545; height: 0px; width: auto;border-radius: 6px 6px 0px 0px; position: absolute; bottom: 0px;left: 50%; transform: translateX(-50%); padding: 0px 14px 0px 0px; overflow: hidden; transition: .2s linear; }
/*layout main end*/
.map-area {height: calc(100% - 55px); position: absolute; width: 100%; }
.listview {position: fixed; bottom: 100px; right: 20px; z-index: 99; width: 45px; height: 45px; background: #f8da00; line-height: 38px; border-radius: 50%; text-align: center; border: 2px solid #fff; cursor: pointer; }
.listview img {width: 70%;
}

/*switch vew*/
.admin-main-wrap .view-switch{width: 70px; height: 70px; position: fixed; bottom: 20%; right: 2px; cursor: pointer; z-index:999; }
.admin-main-wrap .view-switch.map-view{background: url("/images/map-view.png");}
.admin-main-wrap .switch .view-switch.map-view{ background: url("/images/list-view.png");}
/*switch vew end*/
.list-view-block {padding:10px; padding-bottom:40px;}
.list-block-wrapper{
  border-bottom: 0px;
  padding: 0;
  margin:8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  &:hover{-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; transition: all 0.4s ease-out; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.28); -moz-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.28); -ms-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.28); -o-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.28); box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.28); -webkit-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1); -moz-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1); -ms-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1); -o-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1); transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);}
  .list-block{
    .list-block-header {
      background:$hcmbgblue;
      color: #fff;
      line-height: 50px;
      border-radius: 4px 4px 0 0;
      font-size: 18px;
    }
    text-align: center; padding:0;
    img{width:100px; height:auto; margin:40px 0;}
    p{margin:0px; font-size:13px;}
  }
  .list-block-content{display: table; width: 100%; text-align: center; background: #ef4747; border-radius: 0 0 4px 4px; border: none; color: #fff; margin: 0; /* text-shadow: none; */ line-height: 50px;
    .list {
      display: block;
      clear: both;
      padding: 0 20px;
      border-bottom:1px solid $hcmbgwhite;
      line-height: 45px;
      p {
        float: left;
        margin: 0;
      }
      span {
        float: right;
        border: 2px solid $hcmbgwhite;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 25px;
        margin: 8px 0 0 0;
      }
    }
  }
  .list-block-list{display:table-cell; position: relative;
    span {position: absolute; width: 40px; height: 40px; display: block; top: -19px; background: #ef4747; line-height: 40px; border-radius: 50%; text-align: center; left: 50%; transform: translateX(-50%); }
    p {margin:0px; position:relative; z-index:99;}
  }

}

/*Relationship management*/
.container-box{
    border:solid 1px #ccc;
    border-bottom:0px;
    padding-top:10px;
    margin: 10px 5px;
    .container-row{
        text-align: center; 
        border-bottom:solid 1px #ccc;
        margin:1px 0px;
        padding-bottom:10px;
    }
    .row-cols{ display:table; width:100%;text-align:center;
        .col{display:table-cell}
    }
}
.offset-0{padding:0px !important; margin:0px !important;}

/*RM users*/
.user-card{
    background:#fcfcfc;
    p{padding:0px 10px; margin:0px;}
    .user-pic{
        float:left; margin:5px 10px;
        img{width:50px;}
    }
    .user-role-br{ border-top:solid 1px #ccc;}
    .user-role{
        .col{border-left:solid 1px #ccc; padding:5px 0px; 
            &:first-child{border:none;}
        }
    }
}


.rm-tab-container{
    padding:30px 0px;
    float:left; width:100%;
}

/*repeat box*/
.repeatBox{
    border:solid 1px #ccc;
    margin-bottom: 20px;
    .form-group{padding:0px 5px;}
    .rbox-head{
        background:#fcfcfc; padding:5px;border-bottom:solid 1px #ccc;
    }
    .repeat-btn{font-size:20px; float:right; width:25px; display:block;}
    .actions{ float:right; margin-top:-3px;
        button{border:none; margin:3px; outline:none;}
        .clone, .remove{float:left; margin:0px 2px; padding:2px 5px; cursor:pointer;}
    }
}
#repeatBlock .remove{display:none;}

/*KYCs*/
.card-proof-wrapp{
    display:flex !important; 
    .card-proof{
        float:left;
        img{height:150px;}
    }
}

/*grid block*/
.grid-block{
    background: #fff;
    border-radius: 4px;
    border: 1px solid #5574b8;
    min-height: 150px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    .fa {
    font-size: 60px;
    color: #5473b8;
    line-height: 100px;
    }
    .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 14px;
    border-radius: 50%;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #ef4647;
    }
    h3 {
    position: absolute;
    bottom: 0;
    background: #ef4647;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
   }
  }
.lg-toolbar{position:absolute; top:110px; }
