@import 'global';

.transactions-wrap {
    display: block;
    height: calc(100% - 5px);

  .transactions-body {
    height: calc(100% - 40px);
    .tabs-section {
      height: 100%;
      ul {
        height: auto;
        width: 100%;
      }
      .tab-content {
        height: calc(100% - 81px);
        overflow: auto;
        padding-top: 10px;

        .tab-pane {
          height: 100%;
          .transactions-tab-content {
            height: 100%;
            overflow: auto;
          }
        }
      }
    }
  } 
}

.hcm-modules-list {
  display:block;
  .hcm-modules {
    display: inline-block;
    border:1px solid #000;
    h5 {
      display: inline-block;
      border-bottom: 1px solid #000;
    }
    ul {
      display: block;
      margin: 0px;
      padding: 0px;
      li {
        display: block;
        margin: 0px;
        padding: 0px;
        P {
          
        }
      }
    }
  }
}