﻿
@mixin table-row{
display:table;
table-layout:fixed;
width:100%;
}

@mixin table-col{
display:table-cell;
}
@mixin table-col-mid{
display:table-cell;
vertical-align:middle;
}
@mixin table-col-top{
display:table-cell;
vertical-align:top;
}
@mixin table-col-bot{
display:table-cell;
vertical-align:bottom;
}

@mixin flex-center{
display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primary-ellipses{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

@mixin primary-flex{
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

