@import 'global';


$font-stack: 'DINPro-Regular' !important;
body{font-family: $font-stack;font-size:15px;background:#fff url(/images/bg.png);letter-spacing:0.5;color:$hcmtextdarkgrey;}
html, body{height:100%;-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;}
ul,ol,li{list-style:none;}

a{text-decoration:none !important;}
a:hover{text-decoration:none !important;}
input, textarea{font-family: $font-stack;font-size:15px;color:#000;}
input:focus, textarea:focus{outline:0px;}
h1,h2,h3,h4,h5,h6{font-family: $font-stack;font-weight:normal;margin: 0px;}

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: #4cb3cf;
  outline: 1px solid slategrey;
}

#react-root {height:100%;}

#react-root > div {height:100%;}
.hcm-admin {height:100%;}

/* margins */

.mar0 {
    margin: 0
}

.mar4 {
    margin: 4px;
}

.mar10 {
    margin: 10px;
}

.mart0 {
    margin-top: 0;
}

.marr0 {
    margin-right: 0;
}

.marb0 {
    margin-bottom: 0;
}

.marl0 {
    margin-left: 0;
}

.mart5 {
    margin-top: 5px;
}

.marr5 {
    margin-right: 5px;
}

.marb5 {
    margin-bottom: 5px;
}

.marl5 {
    margin-left: 5px;
}

.mart10 {
    margin-top: 10px;
}

.marr10 {
    margin-right: 10px;
}

.marb10 {
    margin-bottom: 10px;
}

.marl10 {
    margin-left: 10px;
}

.mart15 {
    margin-top: 15px;
}

.marr15 {
    margin-right: 15px;
}

.marb15 {
    margin-bottom: 15px;
}

.marl15 {
    margin-left: 15px;
}

.mart20 {
    margin-top: 20px;
}

.marr20 {
    margin-right: 20px;
}

.marb20 {
    margin-bottom: 20px;
}

.marl20 {
    margin-left: 20px;
}

.mart25 {
    margin-top: 25px;
}

.marr25 {
    margin-right: 25px;
}

.marb25 {
    margin-bottom: 25px;
}

.marl25 {
    margin-left: 25px;
}

.mart50 {
    margin-top: 50px;
}

.marr50 {
    margin-right: 50px;
}

.marb50 {
    margin-bottom: 50px;
}

.marl50 {
    margin-left: 50px;
}
.marpad0{
    margin: 0;
    padding: 0;
}

/* padding */

.pad0 {
    padding: 0 !important;
}

.padt0 {
    padding-top: 0;
}

.padr0 {
    padding-right: 0;
}

.padb0 {
    padding-bottom: 0;
}

.padl0 {
    padding-left: 0;
}

.padt5 {
    padding-top: 5px;
}

.padr5 {
    padding-right: 5px;
}

.padb5 {
    padding-bottom: 5px;
}

.padl5 {
    padding-left: 5px;
}

.padt10 {
    padding-top: 10px;
}

.padr10 {
    padding-right: 10px;
}

.padb10 {
    padding-bottom: 10px;
}

.padl10 {
    padding-left: 10px;
}

.padt15 {
    padding-top: 15px;
}

.padr15 {
    padding-right: 15px;
}

.padb15 {
    padding-bottom: 15px;
}

.padl15 {
    padding-left: 15px;
}

.padt20 {
    padding-top: 20px;
}

.padr20 {
    padding-right: 20px;
}

.padb20 {
    padding-bottom: 20px;
}

.padl20 {
    padding-left: 20px;
}

.padt25 {
    padding-top: 25px;
}

.padr25 {
    padding-right: 25px;
}

.padb25 {
    padding-bottom: 25px;
}

.padl25 {
    padding-left: 25px;
}

.padt50 {
    padding-top: 50px;
}

.padr50 {
    padding-right: 50px;
}

.padb50 {
    padding-bottom: 50px;
}

.padl50 {
    padding-left: 50px;
}
.padlr10{
    padding-left:10px;
    padding-right:10px;
}